/* General Reset */
html, body {
    height: 100vh;
    user-select: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #04295B;
    font-family: -apple-system, system-ui, Ubuntu, Roboto, "Open Sans", "Segoe UI", "Helvetica Neue", sans-serif;
  }
  
/* Time and Date Container (Top Center) */
.time-container {
  text-align: center;
  margin-top: 45px; /* Space from the top */
}

#time {
  font-size: 63px;
  font-weight: 300;
  margin: 0;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

#time:hover {
  color: #f3d98d;
  transform: scale(1.1); /* Slightly enlarge the element */
}

#date {
  font-size: 1.5em;
  color: #d0d0d0;
  margin: 0;
}

/* Dynamic Section for Greeting */
#dynamic-section {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center content inside dynamic-section */
  margin-top: 2rem;
}

#greetings {
  font-size: 2rem;
  font-weight: 400;
}

#coding-challenges {
  text-align: center;
  margin-top: 60px;
  color: #ffffff;
}

#coding-challenges ul {
  list-style-type: none;
  padding: 0;
}

#coding-challenges li {
  margin: 10px 0;
}

#coding-challenges a {
  color: #f3d98d;
  text-decoration: none;
  transition: color 0.3s ease;
}

#coding-challenges a:hover {
  color: #ffffff;
}

